    body, html{
        background-color: #f4f6f8;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parent {
        display: flex;
        width: 70%;
        height: 80%;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
    }
    
    .container {
        width: 90%;
    }
    .child1 {
        padding: 0px 84px;
        flex: 8;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .child2 {
        flex: 7;
        background-image: url(../imgs/people-pattern.png);
    }

    .parent .child1 h1 {
        color: #ee5959;
    }

    .parent .child1 .submit .sign_in, 
    .parent .child1 .submit .sign_up {
        border: 2px solid #ee5959;
        padding: 12px 32px;
        border-radius: 8px;
        font-size: larger;
    }

    .parent .child1 .sign_up {
        background-color: #ee5959;
        color: #ffffff;
    }

    .parent .child1 .sign_in {
        background-color: #ffffff;
        color: #ee5959;
    }
    
    .child1 h1:hover,
    .policy input:hover,
    .submit input:hover {
        cursor: pointer;
    }

    .connect_with_social a {
        border: 1px solid #192d34;
        border-radius: 50%;
        padding: 18px 22px;
    }
    
    .fab {
        margin: 46px 0px;
        width: 12px !important;
        height: 12px !important;
        color:#192d34 !important;
    }
    input[type=text], input[type=email], input[type=password] {
        font-size: 18px;
        background-color: #f4f6f8;
        padding: 18px 12px;
        width: 95%;
        margin-bottom: 18px;
        border: 2px solid #eaf0f1;
        border-radius: 8px;
    }

    .terms a {
        color: #ee5959;
        text-decoration: none;
    }

    .parent .child1 .submit {
        display: flex;
        width: 100%;
        margin-top: 64px;
        gap: 32px;
    }
    .parent .child1 .submit input {
        flex: 1;
    }

    .policy {
        text-align: left;
    }